@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-purple: #9333EA;
  --color-purple-text: #C084FC;
  --color-purple-form: #AF52DE;
  --color-blue-gray:#94A3B8;
  --color-background:#0F172A;
  --font-sans: "Roboto", sans-serif;
  --spacing-128: 32rem;
  --border-radius-4xl: 2rem;
}

body{
  background-color: #0F172A;
}
